{% extends "backend.html"     %}
{% block title %}Add Course{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Add Course</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Course</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Select Term Year</label>
                        <select class="form-control select2" name="term_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for t in term %}
                            {% if t.TERM_ID == term_selected%}
                            <option value="{{t.TERM_ID}}" selected="selected">{{t.TERM_TITLE}}</option>
                            {% endif %}
                            {% if t.TERM_ID != term_selected %}
                            <option value="{{t.TERM_ID}}">{{t.TERM_TITLE}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label>Select Student</label>
                        <select class="form-control select2" name="student_code" style="width: 100%;">
                            <option disabled selected></option>
                            {% for s in student %}
                            {% if s.ID == student_selected%}
                            <option value="{{s.ID}}" selected="selected">{{s.FNAME}} {{s.LNAME}}</option>
                            {% endif %}
                            {% if s.ID != student_selected %}
                            <option value="{{s.ID}}">{{s.FNAME}} {{s.LNAME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <div class="form-group">
                            <label>Department Name</label>
                            <select class="form-control select1" name="department_code" style="..." onchange="this.form.submit()">
                                <option disabled selected></option>
                                {% for d in department %}
                                {% if d.DEPT_CODE == department_selected%}
                                <option value="{{d.DEPT_CODE}}" selected="selected">{{d.DEPT_NAME}}</option>
                                {% endif %}
                                {% if d.DEPT_CODE != department_selected%}
                                <option value="{{d.DEPT_CODE}}">{{d.DEPT_NAME}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label>Select Course</label>
                            <select class="form-control select2" name="course_code" style="width: 100%;" onchange="this.form.submit()">
                                <option disabled selected></option>
                                {% for c in course %}
                                {% if c.CRS_CODE == course_selected%}
                                <option value="{{c.CRS_CODE}}" selected="selected">{{c.CRS_TITLE}}</option>
                                {% endif %}
                                {% if c.CRS_CODE != course_selected%}
                                <option value="{{c.CRS_CODE}}">{{c.CRS_TITLE}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label>Select Section</label>
                            <select class="form-control select3" name="course_section" style="width: 100%;">
                                <option disabled selected></option>
                                {% for s in section %}
                                <option value="{{s.CLASS_SECTION}}">{{s.CLASS_SECTION}}</option>

                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <input type="submit" name ="add_course" value="add Student" class="btn btn-lg btn-primary" style="width: 100%;">
                        </div><!-- /.form-group -->
                        {% if  message %}
                        {% if not error %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Success!</strong> {{message}}
                        </div>
                        {% endif %}

                        {% if error %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Warning!</strong> {{message}}
                        </div>
                        {% endif %}
                        {% endif %}

                    </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}