{% extends "backend.html" %}
{% block title %}Create Department{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Add Hold</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Hold</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Select Student</label>
                        <select class="form-control select2" name="student_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for s in student %}
                            <option value="{{s.ID}}">{{s.FNAME}} {{s.LNAME}}</option>
                            {% endfor %}
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label>Hold Type</label>
                        <select class="form-control select2" name="hold_id" style="width: 100%;">
                            <option disabled selected></option>
                            <option>Financial Aid Hold</option>
                            <option>Bursar Hold</option>
                            <option>Academic Hold</option>
                            <option>Medical Hold</option>
                        </select>
                    </div><!-- /.form-group -->


                    <div class="form-group">
                        <input type="submit" name="add_hold" value="Add Hold" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                    {% if  message %}
                    {% if not error %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Warning!</strong> {{message}}
                    </div>
                    {% endif %}
                    {% endif %}

                </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}