<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}-Lions Registration</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/backend" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>T</b>ECH</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Registration </b>System</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/{{user.PERSON_TYPE}}.png" class="user-image" alt="User Image">
              <span class="hidden-xs">{{user.FNAME}} {{user.LNAME}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="images/{{user.PERSON_TYPE}}.png" class="img-circle" alt="User Image">
                <p>
                  {{user.FNAME}} {{user.LNAME}} - {{user.PERSON_TYPE|lower}}
                  <small>{{user.ID}}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/view_studentinformation" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="images/{{user.PERSON_TYPE}}.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user.FNAME}}, {{user.LNAME}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> {{user.PERSON_TYPE}}</a>
        </div>
      </div>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Search Catalog</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/searchcatalog_bydepartment"><i class="fa fa-circle-o"></i>By Department</a></li>
            <li class="active"><a href="/searchcatalog_bycourse"><i class="fa fa-circle-o"></i>By Course</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Search Schedule</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/searchschedule_bydepartment"><i class="fa fa-circle-o"></i>By Department</a></li>
            <li class="active"><a href="/searchschedule_bycourse"><i class="fa fa-circle-o"></i>By Course</a></li>
            <li class="active"><a href="/searchcatalog_byprofessor"><i class="fa fa-circle-o"></i>By Professor</a></li>
            <li class="active"><a href="/searchcatalog_bytimeslot"><i class="fa fa-circle-o"></i>By Time Slot</a></li>
          </ul>
        </li>

        {% if user.PERSON_TYPE == 'ADMIN' or user.PERSON_TYPE == 'FACULTY' %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>View Student Grades</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/viewstudentgrades_bysemester"><i class="fa fa-circle-o"></i>By Semester</a></li>
            <li class="active"><a href="/viewstudentgrades_bytranscript"><i class="fa fa-circle-o"></i>By Transcript</a></li>

          </ul>
        </li>
        {% endif %}
        {% if user.PERSON_TYPE == 'ADMIN' %}
        <li>
          <a href="/create_department">
            <i class="fa fa-balance-scale"></i> <span>Create Department</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/update_department">
            <i class="fa fa-balance-scale"></i> <span>Update Department</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/create_course">
            <i class="fa fa-book"></i> <span>Create Course</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/create_coursesection">
            <i class="fa fa-calendar"></i> <span>Create Course Section</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/update_coursesection">
            <i class="fa fa-calendar"></i> <span>Update Course Section</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/remove_course">
            <i class="fa fa-times"></i> <span>Remove Course</span>
            <small class="label pull-right bg-red">-</small>
          </a>
        </li>

        <li>
          <a href="/update_course">
            <i class="fa fa-calendar"></i> <span>Update Course</span>
            <small class="label pull-right bg-yellow">^</small>
          </a>
        </li>

        <li>
          <a href="/remove_coursesection">
            <i class="fa fa-times"></i> <span>Remove Course section</span>
            <small class="label pull-right bg-red">-</small>
          </a>
        </li>

        <li>
          <a href="/add_hold">
            <i class="fa fa-calendar"></i> <span>Add Hold</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/remove_hold">
            <i class="fa fa-calendar"></i> <span>Remove Hold</span>
            <small class="label pull-right bg-red">-</small>
          </a>
        </li>

        <li>
          <a href="/set_dates">
            <i class="fa fa-calendar"></i> <span>Set Dates</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/view_studentschedule">
            <i class="fa fa-calendar"></i> <span>View Student Schedule</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li>
          <a href="/add_student">
            <i class="fa fa-calendar"></i> <span>Add Student</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/drop_student">
            <i class="fa fa-calendar"></i> <span>Drop Student</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>
        {% endif %}
        {% if user.PERSON_TYPE == 'FACULTY' %}
        <li>
          <a href="/assign_midtermsgrades">
            <i class="fa fa-calendar"></i> <span>Assign Midterms Grades</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/assign_finalgrades">
            <i class="fa fa-calendar"></i> <span>Assign Final Grades</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/view_facultymemberadviseelist">
            <i class="fa fa-calendar"></i> <span>View Advisee List</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li>
          <a href="/view_facultymembercourselist">
            <i class="fa fa-calendar"></i> <span>View Course List</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        {% endif %}

        {% if user.PERSON_TYPE == 'STUDENT' and not user.Hold %}
        <li>
          <a href="/add_course">
            <i class="fa fa-registered"></i> <span>Add Course</span>
            <small class="label pull-right bg-green">+</small>
          </a>
        </li>

        <li>
          <a href="/drop_course">
            <i class="fa fa-registered"></i> <span>Drop Course</span>
            <small class="label pull-right bg-red">-</small>
          </a>
        </li>

        <li>
          <a href="/declare_major">
            <i class="fa fa-registered"></i> <span>Declare Major/Minor</span>
            <small class="label pull-right bg-red">+</small>
          </a>
        </li>

        <li>
          <a href="/delete_major">
            <i class="fa fa-registered"></i> <span>Delete Major/Minor</span>
            <small class="label pull-right bg-red">-</small>
          </a>
        </li>

        <li>
          <a href="/view_studentdetailschedule">
            <i class="fa fa-calendar"></i> <span>View Detail Schedule</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li>
          <a href="/view_studentinformation">
            <i class="fa fa-info"></i> <span>View Information</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li>
          <a href="/view_adviser">
            <i class="fa fa-adn"></i> <span>View Adviser</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li>
          <a href="/view_holds">
            <i class="fa fa-calendar"></i> <span>View Holds</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>View Grades</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/view_gradesbysemester"><i class="fa fa-circle-o"></i>By Semester</a>
            <li><a href="/view_gradesbytranscript"><i class="fa fa-circle-o"></i>By Transcript</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="/view_holds">
            <i class="fa fa-calendar"></i> <span>View Holds</span>
            <small class="label pull-right bg-blue">*</small>
          </a>
        </li>
        {% endif %}
        {% if user.PERSON_TYPE == 'RESEARCHER' %}
        <li>
          <a href="/research_studentsinformation">
            <i class="fa fa-calendar"></i> <span>Research Students Information</span>
            <small class="label pull-right bg-blue"></small>
          </a>
        </li>

        <li>
          <a href="/research_facultyinformation">
            <i class="fa fa-calendar"></i> <span>Research Faculty Information</span>
            <small class="label pull-right bg-blue"></small>
          </a>
        </li>
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Registration
        <small>System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        {% block location %}{% endblock %}
      </ol>
    </section>
    {% if user.Hold %}
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Sorry! You current have holds in your account, click <a href="/view_holds">here</a> to view your holds.</strong>
    </div>
    {% endif %}
    {% block content %}{% endblock %}

    {% block footer %}
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.5
    </div>
    <strong>TECH LIONS COLLEGE</strong> REGISTRATION SYSTEM.
  </footer>

</div><!-- ./wrapper -->

<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script src="plugins/input-mask/jquery.inputmask.js"></script>
<script src="plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script>
  $(function () {

  $('#table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
  $('#table2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
   $('#table3').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
  $("#datemask").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
  $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});

});

</script>
{% endblock %}
</body>
</html>
