{% extends "backend.html" %}
{% block title %}Create Course Section{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Create Course Section</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Create Course Section</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Select Course</label>
                        <select class="form-control select2" name="course_code" style="width: 100%;">
                            <option disabled selected></option>
                            {% for c in course %}
                            {% if c.CRS_CODE == course_selected%}
                            <option value="{{c.CRS_CODE}}" selected="selected">{{c.CRS_TITLE}}</option>
                            {% endif %}
                            {% if c.CRS_CODE != course_selected%}
                            <option value="{{c.CRS_CODE}}">{{c.CRS_TITLE}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select Building</label>
                        <select class="form-control select2" name="building_code" style="width: 100%;" onchange="this.form.submit()">
                            <option disabled selected></option>
                            {% for b in building %}
                            {% if b.BLDG_CODE == building_selected %}
                            <option value="{{b.BLDG_CODE}}" selected="selected">{{b.BLDG_NAME}}</option>
                            {% endif %}
                            {% if b.BLDG_CODE != building_selected %}
                            <option value="{{b.BLDG_CODE}}">{{b.BLDG_NAME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>blah
                    </div>
                    <div class="form-group">f-8
                        <label>Select Room</label>
                        <select class="form-control select2" name="room_num" style="width: 100%;">
                            <option disabled selected></option>
                            {% for r in room %}
                            <option value="{{r[0]}}">{{r[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select Term Year</label>
                        <select class="form-control select2" name="term_code" style="width: 100%;" >
                            <option disabled selected></option>
                            {% for t in term %}
                            <option value="{{t.TERM_ID}}">{{t.TERM_TITLE}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Time Slot</label>
                        <select class="form-control select2" name="slot_code" style="width: 100%;" >
                            <option disabled selected></option>
                            {% for s in slot %}
                            <option value="{{s.TIMESLOT_ID}}">{{s.DAYS}} {{s.START_TIME}}-{{s.END_TIME}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Faculty</label>
                        <select class="form-control select2" name="faculty_code" style="width: 100%;">
                            <option disabled selected></option>
                            {% for f in faculty %}
                            <option value="{{f.ID}}">{{f.FNAME}} {{f.LNAME}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Course Section</label>
                        <select class="form-control select2" name="course_section" style="width: 100%;" >
                            <option disabled selected></option>
                            {% for s in slot %}
                            <option>00-001</option>
                            <option>00-002</option>
                            <option>00-003</option>
                            <option>00-004</option>
                            <option>00-005</option>
                            <option>00-006</option>
                            <option>00-007</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create Course Section" name="create_coursesection" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                    {% if  message %}
                    {% if not error %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Warning!</strong> {{message}}
                    </div>
                    {% endif %}
                    {% endif %}

                </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}