{% extends "backend.html" %}
{% block title %}Create Department{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Create Department</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Create Department</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Department Name</label>
                    <input class="form-control" style="width: 100%;" name="department_name" value="{{department_name}}">
                </div><!-- /.form-group -->

                <div class="form-group">
                    <label>School Name</label>
                    <select class="form-control select2" name="school_code" style="width: 100%;">
                        {% for s in school %}
                        <option value="{{s.SCHOOL_CODE}}">{{s.SCHOOL_NAME}}</option>
                        {% endfor %}
                    </select>
                </div><!-- /.form-group -->

                <div class="form-group">
                    <input type="submit" value="Create Department" class="btn btn-lg btn-primary" style="width: 100%;">
                </div><!-- /.form-group -->
                {% if  message %}
                {% if not error %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Success!</strong> {{message}}
                </div>
                {% endif %}

                {% if error %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Warning!</strong> {{message}}
                </div>
                {% endif %}
                {% endif %}

            </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}