{% extends "backend.html"     %}
{% block title %}Declare Major{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Declare Major</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">
                    <form method="post">

                        <div class="form-group">
                            <label>Select TYPE</label>
                            <select class="form-control select2" name="type" style="width: 100%;" onchange="this.form.submit()">
                                <option disabled selected>---Please select---</option>
                                {% if selected == 'Minor' %}
                                <option selected="selected">Minor</option>
                                {% else %}
                                <option>Minor</option>
                                {% endif %}

                                {% if selected == 'Major' %}
                                <option selected="selected">Major</option>
                                {% else %}
                                <option>Major</option>
                                {% endif %}

                            </select>
                        </div><!-- /.form-group -->



                        <div class="form-group">
                            <label>Select MINOR</label>
                            <select class="form-control select2" name="major" style="width: 100%;">
                                <option disabled selected>---please select---</option>
                               {% for m in major %}
                                {% if m.MAJOR_NAME %}
                                <option value="{{m.MAJOR_NAME}}">{{m.MAJOR_NAME}}</option>
                                {% else %}
                                <option value="{{m.MINOR_NAME}}">{{m.MINOR_NAME}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <input type="submit" name ="add_major" value="add Major/ Minor" class="btn btn-lg btn-primary" style="width: 100%;">
                        </div><!-- /.form-group -->
                        {% if  message %}
                        {% if not error %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Success!</strong> {{message}}
                        </div>
                        {% endif %}

                        {% if error %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Warning!</strong> {{message}}
                        </div>
                        {% endif %}
                        {% endif %}

                    </form>
                </div><!-- /.row -->
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    {% endblock %}