{% extends "backend.html" %}
{% block title %}Search Schedule by Professor{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Search Schedule by Professor</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Search Schedule by Professor</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Select TERM YEAR</label>
                        <select class="form-control select2" name="term_id" style="width: 100%;" >
                            <option disabled selected></option>
                            {% for t in term %}
                            <option value="{{t.TERM_ID}}">{{t.TERM_TITLE}}</option>
                            {% endfor %}
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label>Select Professor</label>
                        <select class="form-control select2" name="professor_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for p in professor %}
                            {% if p.ID == professor_selected%}
                            <option value="{{p.ID}}" selected="selected">{{p.FNAME}} {{p.LNAME}}</option>
                            {% endif %}
                            {% if p.ID != professor_selected%}
                            <option value="{{p.ID}}">{{p.FNAME}} {{p.LNAME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search Catalog" name="searchCatalog" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                    {% if  message %}
                    {% if not error %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    <div class="col-md-8">
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Warning!</strong> {{message}}
                    </div>
                    {% endif %}
                    {% endif %}
                    <br><br><br>
                    {% if course %}
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Course Search Result</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>CRN</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Credits</th>
                                    <th>Room</th>
                                    <th>Building</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in course %}
                                <tr>
                                    <td>{{c.CRS_CODE}}</td>
                                    <td>{{c.CRS_TITLE}}</td>
                                    <td>{{c.CRS_DESCRIPTION}}</td>
                                    <td>{{c.CRS_CREDIT}}</td>
                                    <td>{{c.ROOM_NUM}}</td>
                                    <td>{{c.BLDG_CODE}}</td>
                                    <td>{{c.START_TIME}}</td>
                                    <td>{{c.END_TIME}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>CRN</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Credits</th>
                                    <th>Room</th>
                                    <th>Building</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    {% endif %}
                </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}