{% extends "backend.html" %}
{% block title %}Set Dates{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Set Dates</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Set Dates</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Select TIME LINE TYPE</label>
                        <select class="form-control select2" name="timeline_id" style="width: 100%;">
                            <option disabled selected></option>
                            <option >ADD CLASS TIMELINE</option>
                            <option >DROP CLASS TIMELINE</option>
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label>Select TERM YEAR</label>
                        <select class="form-control select2" name="term_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for y in term %}
                            <option value="{{y.TERM_ID}}">{{y.TERM_TITLE}}</option>
                            {% endfor %}
                        </select>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label>Start Date</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="start" class="form-control" id="datemask">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="end" class="form-control" id="datemask2">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="set_dates" value="Set Dates" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                    {% if  message %}
                    {% if not error %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Warning!</strong> {{message}}
                    </div>
                    {% endif %}
                    {% endif %}

                </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}