{% extends "backend.html" %}
{% block title %}Update Course Section{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">Update Course Section</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Update Course Section</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <form  method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Select Course Section</label>
                        <select class="form-control select2" name="course" style="width: 100%;" onchange="this.form.submit()">
                            <option disabled selected></option>
                            {% for c in course %}
                            {% if c.CRS_CODE == course_selected and c.CLASS_SECTION == class_selected and c.TERM_ID == term_selected%}
                            <option value="{{c.CRS_CODE}},{{c.CLASS_SECTION}},{{c.TERM_ID}}" selected="selected">{{c.CRS_TITLE}} : {{c.CLASS_SECTION}} :{{c.TERM_TITLE}}</option>
                            {% else %}
                            <option value="{{c.CRS_CODE}},{{c.CLASS_SECTION}},{{c.TERM_ID}}" >{{c.CRS_TITLE}} : {{c.CLASS_SECTION}} :{{c.TERM_TITLE}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select Building</label>
                        <select class="form-control select2" name="building_code" style="width: 100%;" onchange="this.form.submit()">
                            <option disabled selected></option>
                            {% for b in building %}
                            {% if b.BLDG_CODE == building_selected %}
                            <option value="{{b.BLDG_CODE}}" selected="selected">{{b.BLDG_NAME}}</option>
                            {% endif %}
                            {% if b.BLDG_CODE != building_selected %}
                            <option value="{{b.BLDG_CODE}}">{{b.BLDG_NAME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Room</label>
                        <select class="form-control select2" name="room_num" style="width: 100%;">
                            <option disabled selected></option>
                            {% for r in room %}
                            {% if r.ROOM_NUM == room_selected %}
                            <option value="{{r.ROOM_NUM}}" selected="selected">{{r.ROOM_NUM}}</option>
                            {% else %}
                            <option value="{{r.ROOM_NUM}}">{{r.ROOM_NUM}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select Time Slot</label>
                        <select class="form-control select2" name="slot_code" style="width: 100%;" >
                            <option disabled selected></option>
                            {% for s in slot %}
                            {% if s.TIMESLOT_ID == timeslot_selected %}
                            <option value="{{s.TIMESLOT_ID}}" selected="selected">{{s.DAYS}} {{s.START_TIME}}-{{s.END_TIME}}</option>
                            {% else %}
                            <option value="{{s.TIMESLOT_ID}}">{{s.DAYS}} {{s.START_TIME}}-{{s.END_TIME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Faculty</label>
                        <select class="form-control select2" name="faculty_code" style="width: 100%;">
                            <option disabled selected></option>
                            {% for f in faculty %}
                            {% if f.ID == faculty_selected %}
                            <option value="{{f.ID}}" selected="selected">{{f.FNAME}} {{f.LNAME}}</option>
                            {% else %}
                            <option value="{{f.ID}}">{{f.FNAME}} {{f.LNAME}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update Course Section" name="update_coursesection" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                    {% if  message %}
                    {% if not error %}
                    <div class="alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endif %}

                    {% if error %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Warning!</strong> {{message}}
                    </div>
                    {% endif %}
                    {% endif %}

                </div><!-- /.col -->
            </form>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}