{% extends "backend.html" %}
{% block title %}View Student Detail Schedule{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block location %}<li class="active">View Student Detail Schedule</li>{% endblock %}
{% block content %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">View Student Detail Schedule</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label>Select Term</label>
                        <select class="form-control select2" name="term_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for t in term %}
                            <option value="{{t.TERM_ID}}">{{t.TERM_TITLE}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Select Student</label>
                        <select class="form-control select2" name="student_id" style="width: 100%;">
                            <option disabled selected></option>
                            {% for s in student %}
                            <option value="{{s.ID}}">{{s.FNAME}} {{s.LNAME}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="View Detail Schedule" name="view_studentdetailschedule" class="btn btn-lg btn-primary" style="width: 100%;">
                    </div><!-- /.form-group -->
                </form>
                {% if  message %}
                {% if not error %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Success!</strong> {{message}}
                </div>
                <div class="col-md-8">
                </div>
                {% endif %}

                {% if error %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Warning!</strong> {{message}}
                </div>
                {% endif %}
                {% endif %}
                <br><br><br>
                {% if course %}
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Detail Schedule</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Room</th>
                                <th>Building</th>
                                <th>Days</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Professor</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in course %}
                            <tr>
                                <td>{{c.CRS_TITLE}}</td>
                                <td>{{c.ROOM_NUM}}</td>
                                <td>{{c.BLDG_CODE}}</td>
                                <td>{{c.DAYS}}</td>
                                <td>{{c.START_TIME | date("h:i:s a")}}</td>
                                <td>{{c.END_TIME | date("h:i:s a")}}</td>
                                <td>{{c.FNAME}} {{c.LNAME}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                {% endif %}
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endblock %}